/* External CSS file */

.form-group {
    display: flex;
    margin-bottom: 16px;
  }
  
  .form-group label {
    flex: 1;
    margin-right: 16px;
  }
  
  .form-group input,
  .form-group select {
    flex: 2;
  }
  
  .form-group:last-child {
    margin-bottom: 0; /* Remove bottom margin for the last form group */
  }
  
  /* Additional styles can be added as needed */
      




  /* Signin.css */

/* .StyledBox {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
  } */
  
  .StyledForm label {
    font-weight: bold;
  }
  
  .StyledForm .ant-btn-primary {
    margin-right: 8px;
  }
  
  .StyledForm .ant-form-item-control-input-content {
    display: flex;
    align-items: center;
  }
  
  .StyledLink {
    margin-left: 8px;
  }

  /* SignInStyles.css */

/* .StyledBox {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
} */

label {
  font-weight: bold;
}

.ant-btn-primary {
  margin-right: 8px;
}

.ant-form-item-control-input-content {
  display: flex;
  align-items: center;
}

.ant-checkbox-wrapper {
  margin-bottom: 12px;
}

.ant-modal-body {
  font-size: 16px;
}


/* SignInStyles.css */

.StyledBox {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #6a93bb80;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  margin-top: 50px ;
  margin-bottom: 100px ;
}

label {
  font-weight: bold;
}

.ant-btn-primary {
  margin-right: 8px;
}

input[type="text"],
input[type="date"],
select {
  flex: 1; /* Let inputs grow to fill remaining space */
  margin-right: 8px; /* Add right margin to create space between inputs */
  margin-left: 8px;
}

textarea,
input[type="text"] {
  font-size: 16px;
}


.ant-form-item-control-input-content {
  display: flex;
  align-items: center;
}

.ant-checkbox-wrapper {
  margin-bottom: 12px;
}

.ant-modal-body {
  font-size: 16px;
}

  