/* VehicleListByOwner.css */

/* VehicleListByOwner.css */

.card {
    margin: 20px auto; /* Center the card horizontally */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px; /* Set maximum width */
    min-width: 300px; /* Set minimum width */
    padding: 20px; /* Add padding */
    min-height: 450px;
    border-radius: 10px; /* Add border radius */
  }
  
  
  .card-header {
    background-color: #c3c5c8;
    color: rgb(0, 0, 0);
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
  }
  
  .table th {
    background-color: #f8f9fa;
    font-weight: bold;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f8f9fa;
  }
  
  .table tbody tr:hover {
    background-color: #f1f2f4;
  }
  
  /* VehicleListByOwner.css */

/* Primary button */
.btn-primary {
    background-color: #007bff; /* Blue color */
    border-color: #007bff; /* Border color */
    color: #fff; /* Text color */
  }
  
  /* Secondary button */
  .btn-secondary {
    background-color: #6c757d; /* Gray color */
    border-color: #6c757d; /* Border color */
    color: #fff; /* Text color */
  }
  
  /* Hover effect for primary button */
  .btn-primary:hover {
    background-color: #0056b3; /* Darker blue color on hover */
    border-color: #0056b3; /* Darker border color on hover */
  }
  
  /* Hover effect for secondary button */
  .btn-secondary:hover {
    background-color: #5a6268; /* Darker gray color on hover */
    border-color: #545b62; /* Darker border color on hover */
  }
  